- title(name: "Protected page")
%h1 Protected Page
%p
  This page is only visible to signed in users. Edit it at:
  %em views/pages/inside.html.erb
%p
  You can change the page users see after successfully signing in within the method
  %em after_sign_in_path_for
  inside
  %strong application_controller.rb

Some example embedded stuff:
%br
  We will follow all feeds from twitter, etc. and in (only in) the user profile, a user will be able to pick and choose
  what he can add to their public profile.  This will be handled via a JS callback to an API (yet to be developed)
  %a{class:"embed", href: "https://twitter.com/Interior/status/507185938620219395"}
  %a{class:"embed", href: "https://twitter.com/memikequinn/status/553049814251089920"}