base: &base
  incudia:
    host: localhost
    https: false
    protocol: https
    port: 3000
    user: <%= `whoami`.chomp %>
    allow_username_or_email_login: true
    logfile: <%= "#{Rails.env}.#{`hostname`.chomp}.log" %>
    extra:
      ## Google analytics. Uncomment if you want it
      # google_analytics_id: '_your_tracking_id'

    ## OmniAuth settings
    omniauth:
      # Allow login via Twitter, Google, etc. using OmniAuth providers
      enabled: true

      # CAUTION!
      # This allows users to login without having a user account first (default: false).
      # User accounts will be created automatically when authentication was successful.
      allow_single_sign_on: true
      # Locks down those users until they have been cleared by the admin (default: true).
      block_auto_created_users: false

      ## Auth providers
      # The 'app_id' and 'app_secret' parameters are always passed as the first two
      # arguments, followed by optional 'args' which can be either a hash or an array.
      providers:
        # - { name: 'google_oauth2', app_id: 'YOUR APP ID',
        #     app_secret: 'YOUR APP SECRET',
        #     args: { access_type: 'offline', approval_prompt: '' } }
        # - { name: 'twitter', app_id: 'YOUR APP ID',
        #     app_secret: 'YOUR APP SECRET'}
        # - { name: 'facebook', app_id: 'YOUR APP ID',
        #     app_secret: 'YOUR APP SECRET'}



production:
  <<: *base

development:
  <<: *base

test:
  <<: *base
