// Color picks:
// http://paletton.com/#uid=72P0E0kgikH6EDTc0qRjQh9nJes
//***********************************************************
@import "variables";
//***********************************************************
@import "bootstrap";
@import "select2";
@import "font-awesome-sprockets";
@import "font-awesome";

//***********************************************************
// CLASSES FOR VISUAL TESTING
.test1 {
  background-color: yellow;
}
.test2 {
  background-color: red;
}
.test3 {
  background-color: blue;
}
//***********************************************************

//***********************************************************
// APPLICATION-WIDE
html,body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  padding-bottom: 120px;
}

blockquote{
  font-size: $font-size-base;
  font-style: italic;
}

.monospaced-control{
	font-family: $font-family-monospace;
	font-size: 12px;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
}
//***********************************************************

//***********************************************************
// SPACING
$space-lg: 60px;
$space-md: 40px;
$space-sm: 20px;
$space-xs: 10px;

.space-top-lg{
  margin-top: $space-lg;
}
.space-top-md{
  margin-top: $space-md;
}
.space-top-sm{
  margin-top: $space-sm;
}
.space-top-xs{
  margin-top: $space-xs;
}

.space-bottom-lg{
  margin-bottom: $space-lg;
}
.space-bottom-md{
  margin-bottom: $space-md;
}
.space-bottom-sm{
  margin-bottom: $space-sm;
}
.space-bottom-xs{
  margin-bottom: $space-xs;
}

.space-left-lg{
  margin-left: $space-lg;
}
.space-left-md{
  margin-left: $space-md;
}
.space-left-sm{
  margin-left: $space-sm;
}
.space-left-xs{
  margin-left: $space-xs;
}

.space-right-lg{
  margin-right: $space-lg;
}
.space-right-md{
  margin-right: $space-md;
}
.space-right-sm{
  margin-right: $space-sm;
}
.space-right-xs{
  margin-right: $space-xs;
}

.space-all-lg{
  margin: $space-lg;
}
.space-all-md{
  margin: $space-md;
}
.space-all-sm{
  margin: $space-sm;
}
.space-all-xs{
  margin: $space-xs;
}

// Main Container
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

$main-container-color: #f8f4f9;
.container {
  max-height: 95%;
  max-width: 95%;
  .main {
    .center-block {
      background-color: $main-container-color;
    }
  }
}

.broadcast-message {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: #555;
  color: #BBB;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
//***********************************************************

//***********************************************************
// FLASH MESSAGES
.alert {
  margin-top: -4px;
}
//***********************************************************

//***********************************************************
// NAVBAR
.navbar-brand {
  font-size: inherit;      
}
//***********************************************************

//***********************************************************
// ERRORS
#error_explanation {
  color: $brand-danger;
  ul {
    margin-left: 8px;
    padding-left: 8px;
  }
  
  h2 {
    display:none;
  }
}

.error-text {
  color: $brand-danger;
}

.field_with_errors {
  .form-control {
    border: 1px solid $brand-danger;
  }
  label {
    color: $brand-danger;
  }
}
//***********************************************************

//***********************************************************
// IMAGES
img {
  @extend .img-responsive;
}

.img-inline{
  display: inline;
}

.img-block{
  display: block;
}

.img-framed{
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 6px #dddddd;
  border-radius: 4px;
}

.img-title{
  color: #bbbbbb;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 4px;
}

//***********************************************************

//***********************************************************
// VIDEO
.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 5px #cccccc;
  border: 3px solid #373737;

}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
//***********************************************************


//***********************************************************
// FOOTER
#footer {
  background-color: #ffffff;
  color: #373737;
  height: 100px;
  margin-top: -100px;  
  letter-spacing: 1px;
  
  .footer-first-row {
    padding-top: 20px;
  }
}
//***********************************************************
table, th, td {
  border: 1px solid black;
}

//[class*="span"].centered {
.centered {
  position: relative;
//  top: 100%;
  transform: translateY(100%);
}