%h1 Listing embedded_contents
%b TODO: Create a dropdown for content-related actions

- @embedded_contents.each do |embedded_content|
  .list-group
    .row
      .col-xs-3
        %a{class:"embed", href: embedded_content.url}
      .col-xs-2.centered
        %a{class: "btn btn-default dropdown-toggle", 'data-toggle' => "dropdown"}
          Actions
          %span{class: "caret"}
        %ul{class: "dropdown-menu"}
          %li
            =link_to 'Edit', edit_embedded_content_path(embedded_content)
          %li
            =link_to 'Destroy', embedded_content, :method => :delete, :data => { :confirm => 'Are you sure?' }


= button_to 'New Embedded content', new_embedded_content_path, method: :get, class: "btn btn-default"
