%p#notice= notice

%p
  %b Url:
  = @embedded_content.url
.content
  %a{class:"embed", href: @embedded_content.url}
= link_to 'Edit', edit_embedded_content_path(@embedded_content)
\|
= link_to 'Back', embedded_contents_path
