!!! 5
%html{ lang: "en"}
  = render "layouts/navigation", title: "" if current_user
  %body{class: "application"}
    = render "layouts/flash"
    .container.navless-container
      .error-page
        = yield
